<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta name="author" content="Tony Morris" />
    <title>@ViewData["Title"] - MorrisPhotos.com</title>

    <link rel="shortcut icon" href="~/images/favicon.png">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/css/plugins.min.css" rel="stylesheet">
    <environment include="Development">
        <link href="~/css/template.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/template.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="page-loader">
        <div class="page-loader-inner">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>

    <header class="header header-transparent">
        <div class="container-fluid">
            <div class="inner-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="inner-brand">MorrisPhotos.com</a>
            </div>
            <div class="inner-navigation collapse">
                <div class="inner-nav">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="#"><span class="menu-item-span">School Years</span></a>
                            <ul class="sub-menu">
                                @foreach (var schoolYearName in SeedData.SchoolYears)
                                {
                                    <li><a asp-area="" asp-controller="Home" asp-action="SchoolYearDetails" asp-route-schoolYearName="@schoolYearName.Name">@schoolYearName.Name</a></li>
                                }
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#"><span class="menu-item-span">Categories</span></a>
                            <ul class="sub-menu">
                                @foreach (var category in SeedData.Categories)
                                {
                                    <li><a asp-area="" asp-controller="Home" asp-action="CategoryDetails" asp-route-categoryName="@category.UrlName">@category.Name</a></li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Events"><span class="menu-item-span">Events</span></a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="People"><span class="menu-item-span">People</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="wrapper">
        @RenderBody()
        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <aside class="widget widget-text">
                                <div class="widget-title">
                                    <h6>About Us</h6>
                                </div>
                                <div class="textwidget">
                                    <p>This is Tony's personal photography website project. Feel free to download any of the photos, royalty-free.</p>
                                    <ul class="social-icons">
                                        <li><a href="https://twitter.com/tonytalkstech" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://instagram.com/afmorris" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://facebook.com/tonytalkstech" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>&copy; 2016-@DateTime.Now.Year MorrisPhotos.com, All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/js/custom/jquery-3.2.1.min.js" asp-append-version="true"></script>
        <script src="~/js/custom/popper.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/custom/plugins.js" asp-append-version="true"></script>
        <script src="~/js/custom/custom.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/custom/jquery-3.2.1.min.js" asp-append-version="true"></script>
        <script src="~/js/custom/popper.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/custom/plugins.min.js" asp-append-version="true"></script>
        <script src="~/js/custom/custom.min.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>

