@model MorrisPhotos.Web.ViewModels.Home.EventsViewModel

@{
    ViewData["Title"] = "Event Photos";
}

<section class="module-page-title bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title-desc">
                    <h1 class="page-title-heading text-light">@ViewData["Title"]</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Events
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

@if (Model.Events.Any())
{
    <section class="module">
        <div class="container">
            @foreach (var schoolYearGroup in Model.Events)
            {
                <h2>@schoolYearGroup.Key.Name School Year</h2>
                foreach (var categoryGrouping in schoolYearGroup.Value)
                {
                    <h3>@categoryGrouping.Key.Name Photos</h3>
                    <div class="row">
                        @foreach (var photoEvent in categoryGrouping.Value)
                        {
                            <div class="col-md-3">
                                <div class="shop-grid-item">
                                    <div class="shop-item-thumb">
                                        <a asp-area="" asp-controller="Home" asp-action="SchoolYearAndCategoryAndEventDetails" asp-route-schoolYearName="@photoEvent.SchoolYear.Name" asp-route-categoryName="@photoEvent.Category.UrlName" asp-route-eventName="@photoEvent.UrlName"><img src="@photoEvent.ThumbnailImageUrl" alt="@photoEvent.Name"></a>
                                        <div class="shop-item-hidden"><a asp-area="" asp-controller="Home" asp-action="SchoolYearAndCategoryAndEventDetails" asp-route-schoolYearName="@photoEvent.SchoolYear.Name" asp-route-categoryName="@photoEvent.Category.UrlName" asp-route-eventName="@photoEvent.UrlName" class="btn btn-new-white">Browse</a></div>
                                    </div>
                                    <div class="shop-item-captions">
                                        <h6 class="shop-item-title">@photoEvent.Name</h6>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>
}