@model MorrisPhotos.Web.ViewModels.Home.PeopleViewModel

@{
    ViewData["Title"] = "People Photos";
}

<section class="module-page-title bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title-desc">
                    <h1 class="page-title-heading text-light">@ViewData["Title"]</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        People
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

@if (Model.People.Any())
{
    <section class="module">
        <div class="container">
            <div class="row">
                @foreach (var person in Model.People)
                {
                    <div class="col-md-3">
                        <div class="shop-grid-item">
                            <div class="shop-item-thumb">
                                <a asp-area="" asp-controller="Home" asp-action="PersonDetails" asp-route-personId="@person.Id" asp-route-personName="@person.FirstName.ToLower()-@person.LastName.ToLower()"><img src="@person.ThumbnailImageUrl" alt="@person.FirstName @person.LastName" class="img-responsive"/></a>
                                <div class="shop-item-hidden"><a asp-area="" asp-controller="Home" asp-action="PersonDetails" asp-route-personName="@person.FirstName-@person.LastName" class="btn btn-new-white">Browse</a></div>
                            </div>
                            <div class="shop-item-captions">
                                <h6 class="shop-item-title">@person.FirstName @person.LastName</h6>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}