@model MorrisPhotos.Web.ViewModels.Home.SchoolYearAndCategoryAndEventDetailsViewModel

@{
    ViewData["Title"] = $"{Model.PhotoEvent.Name} Photos";
}

<section class="module-page-title bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title-desc">
                    <h1 class="page-title-heading text-light">@ViewData["Title"]</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="SchoolYearDetails" asp-route-schoolYearName="@Model.SchoolYear.Name">@Model.SchoolYear.Name</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="SchoolYearAndCategoryDetails" asp-route-schoolYearName="@Model.SchoolYear.Name" asp-route-categoryName="@Model.Category.UrlName">@Model.Category.Name</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @Model.PhotoEvent.Name
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="module">
    <div class="container">
        <div class="row row-portfolio" data-columns="3">
            <div class="grid-sizer"></div>
            @foreach (var photo in Model.Photos)
            {
                <div class="portfolio-item">
                <div class="portfolio-item-wrapper">
                    <div class="portfolio-item-img"><img src="@photo.ThumbnailImageUrl" /></div>
                    <a class="portfolio-item-link" href="@photo.ImageUrl"></a>
                </div>
                </div>
            }
        </div>
    </div>
</section>