@model MorrisPhotos.Web.ViewModels.Home.SchoolYearAndCategoryDetailsViewModel

@{
    ViewData["Title"] = $"{Model.SchoolYear.Name} {Model.Category.Name} Photos";
}

<section class="module-cover parallax" data-background="/images/module-14.jpg" data-overlay="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewData["Title"]</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="SchoolYearDetails" asp-route-schoolYearName="@Model.SchoolYear.Name">@Model.SchoolYear.Name</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @Model.Category.Name
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="module">
    <div class="container">
        <div class="row">
            @foreach (var photoEvent in Model.PhotoEvents)
            {
                <div class="col-md-3">
                    <div class="shop-grid-item">
                        <div class="shop-item-thumb">
                            <a asp-area="" asp-controller="Home" asp-action="SchoolYearAndCategoryAndEventDetails" asp-route-schoolYearName="@Model.SchoolYear.Name" asp-route-categoryName="@Model.Category.UrlName" asp-route-eventName="@photoEvent.UrlName"><img src="@photoEvent.ThumbnailImageUrl" alt="@photoEvent.Name"></a>
                            <div class="shop-item-hidden"><a asp-area="" asp-controller="Home" asp-action="SchoolYearAndCategoryAndEventDetails" asp-route-schoolYearName="@Model.SchoolYear.Name" asp-route-categoryName="@Model.Category.UrlName" asp-route-eventName="@photoEvent.UrlName" class="btn btn-new-white">Browse</a></div>
                        </div>
                        <div class="shop-item-captions">
                            <h6 class="shop-item-title">@photoEvent.Name</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>